table {
  empty-cells: hide;
  font-family: "Arial";
  border-spacing: 5px;
}

.table_1 {
  caption-side: top;
  border-collapse: collapse;
}

.table_2 {
  caption-side: bottom;
  border-collapse: separate;
  border-spacing: 5px;
  empty-cells: hide;
}
th,
td,
tr {
  border-radius: 5px;
  width: 120px;
  padding: 15px;
}
tr:first-child {
  background: linear-gradient(to top, #8af004, #6ab623);
  color: white;
}
th:first-child {
  background: linear-gradient(45deg, #8af004, #6ab623);
  color: white;
}
td {
  background-color: #90ee90;
  text-align: center;
  font-size: larger;
}
