* {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.container {
  width: 1110px;
  margin: 0 auto;
  position: relative;
}

/*section header*/
.header {
  background: url("../img/Rectangle.jpg") center center/cover no-repeat;
  margin: 0 auto;
  height: 840px;
}
.header_menu {
  margin: 0 auto;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}

.header_menu .logo_img {
  width: 134px;
  height: 66px;
}

.header_menu .menu ul {
  display: flex;
  justify-content: space-between;
  min-width: 541px;
}
.header_menu .menu li {
  list-style-type: none;
  /*font-family: "Raleway";*/
  font-style: normal;
  /* font-weight: 400;*/
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
}

.header_menu .menu a:link,
.menu a:visited {
  text-decoration: none;
  color: white;
}

.title {
  margin-top: 200px;
  text-align: center;
}

.title .big_text {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #d4c17f;
}

.title .title_logo {
  margin: 0 auto;
  margin-top: 100px;
}

.connection {
  margin: 0 auto;
  margin-top: 200px;
  margin-bottom: 74px;
  display: flex;
  width: 582px;
  justify-content: flex-start;
}

.connection .adress,
.connection .number {
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
}

.connection .adress {
  margin: 0 auto;
  margin-right: 98px;
  margin-left: 0px;
}

.connection .number a:link,
.number a:visited {
  text-decoration: none;
  color: #ffffff;
}
.connection .text,
.connection .number {
  /* font-family: "Raleway";*/
  font-style: normal;
  /*font-weight: 400;*/
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}

.connection .logo {
  margin: 0 auto;
  margin-right: 14px;
}

/*section benefits*/
.benefits {
  background-color: #242b33;
  height: 420px;
}

.peculiarities {
  margin: 0 auto;
  padding-top: 120px;
  display: flex;
  justify-content: center;
  gap: 70px;
}
.peculiarities img {
  margin: 0 auto;
  align-content: center;
}
.peculiarities .text_img {
  margin: 0 auto;
  margin-top: 53px;
  height: 47px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  /* or 135% */
  text-align: center;
  color: #ffffff;
}

.benefits .ruman2 {
  position: absolute;
  top: 90px;
  left: 950px;
}

/*section apartments*/
.apartments {
  background-color: #242b33;
  height: 940px;
}
.apartments .text {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #d4c17f;
}
.apartments .img_apartments {
  position: relative;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
  justify-content: center;
}

.img_apartments .text_apartments {
  position: absolute;
  margin-left: 50px;
  margin-top: -50px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}

.apartments .ruman3 {
  position: absolute;
  margin: 0 auto;
  /*z-index: -1;*/
  top: 88px;
  left: -226px;
}

/*section form*/

.form {
  background: url("../img/form.jpg") center center/cover no-repeat;
  height: 560px;
}

.form .question {
  margin: 0 auto;
  margin-bottom: 50px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #d4c17f;
}

.form .description {
  /* font-family: "Raleway";*/
  width: 535px;
  font-style: normal;
  /*font-weight: 400;*/
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  color: #ffffff;
}

.form .form_question {
  display: flex;
  margin: 0 auto;
  padding-top: 180px;
  align-content: center;
  column-gap: 35px;
}
.form_to_fill {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 46px;
  justify-content: center;
  align-content: flex-end;
}

.form_to_fill .form_text,
.form_question .form_text {
  width: 255px;
  height: 50px;
  left: 975px;
  top: 2311px;
  background: #ffffff;
  opacity: 0.2;
}
input[type="text"] {
  /*font-family: "Raleway";*/
  font-style: normal;
  /* font-weight: 400;*/
  font-size: 14px;
  line-height: 27px;
  color: #bebebe;
  text-align: center;
}

.form_to_fill .text,
.form_question .text {
  /*font-family: "Raleway";*/
  font-style: normal;
  /* font-weight: 400;*/
  font-size: 13px;
  line-height: 16px;
  /* or 123% */
  text-align: center;
  color: #e7e7e7;
}

.form_to_fill button,
.form_question button {
  width: 255px;
  height: 50px;
  left: 1260px;
  top: 2396px;
  background: #d4c17f;
}

.form_to_fill .buttom1 button,
.form_question .buttom1 button {
  /*font-family: "Raleway";*/
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  /* identical to box height, or 169% */
  text-align: center;
  color: #ffffff;
}

/*section video*/

.video {
  background-color: #242b33;
  height: 830px;
}

.video .video_presentation {
  display: flex;
  margin: 0 auto;
  /*padding-bottom: 180px;*/
  align-content: flex-start;
  justify-content: center;
}

.video_presentation .presentation {
  position: relative;
}
.video_presentation .button_video {
  position: absolute;
  padding-top: 275px;
}
.video .ruman4 {
  position: absolute;
  top: 72px;
  right: -220px;
}

/*section map*/
.map {
  background-color: #242b33;
  height: 506px;
}
.map .on_the_map {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.map .text_map {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #d4c17f;
}
.map .img_map {
  position: relative;
}
.map .ruman5 {
  position: absolute;
  top: 3650px;
  left: 266px;
}

/*section question*/
.questions {
  background-color: #242b33;
  height: 496px;
}
.questions .question_container {
  margin: 0 auto;
  padding-top: 180px;
}
.questions .question_text {
  margin: 0 auto;
  margin-bottom: 50px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #d4c17f;
}
.questions .form_question {
  display: flex;
  column-gap: 30px;
  padding-bottom: 180px;
}

/*section footer*/
footer {
  background-color: #2d343c;
  height: 272px;
}

footer .info {
  display: flex;
  column-gap: 166px;
  padding-top: 60px;
}

.info .column {
  display: flex;
  padding-top: 10px;
  flex-direction: column;
  column-gap: 16px;
}

.info .column div {
  /* font-family: "Raleway";*/
  font-style: normal;
  /* font-weight: 400;*/
  font-size: 14px;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.info .column div span {
  color: #d4c17f;
}
.info .column .logo_info {
  display: flex;
  padding-top: 5px;
  column-gap: 20px;
  align-items: center;
  justify-content: flex-start;
}
